


body {

  background-color: rgb(202, 255, 255);

}

h1 {

  background-color: red;

}

h2 {

  background-color: rgba(186, 117, 255, 0.595);

}


p {

  color: rgb(255, 224, 48);
  background-color: rgb(0, 0, 0);

}
